<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="head(title)">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <title th:text="${title}">Ruang Singgah</title>
    <link rel="icon" type="image/png" th:href="@{/ruangsinggahLogo.png}" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          fontFamily: { sans: ["Inter", "sans-serif"] },
          extend: {
            colors: {
              snow: "#FAFAFA",
              celadon: "#B7E4C7",
              jet: "#1F2937",
              icy: "#ABD8FF",
              slate: "#CED4DA",
            },
          },
        },
      };
    </script>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/css/custom.css}" />
    <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>
  </head>

  <body></body>
</html>
